name: "Dockerize package"

on:
  push:
    tags:
      - "*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -   name: Checkout
          uses: actions/checkout@v2
      -   name: Docker meta
          id: meta
          uses: docker/metadata-action@v3
          with:
            images: |
              ghcr.io/laravel/pint
            tags: |
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}
              type=semver,pattern={{major}}
              type=sha
      -   name: Set up QEMU
          uses: docker/setup-qemu-action@v1
      -   name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1
      -   name: Login to GitHub Container Registry
          if: github.event_name != 'pull_request'
          uses: docker/login-action@v1
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}
      -   name: Build and push
          uses: docker/build-push-action@v2
          with:
            platforms: linux/amd64,linux/arm64
            push: ${{ github.event_name != 'pull_request' }}
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            build-args: |
                VERSION=${{ steps.meta.outputs.version }}
