name: tests

on:
  push:
    branches:
      - main
      - '*.x'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, windows-2019]
        php: [8.1, 8.2, 8.3]

    name: PHP ${{ matrix.php }} - ${{ matrix.os }}

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout skeleton code
        uses: actions/checkout@v4
        with:
          path: 'skeleton'
          repository: 'laravel/laravel'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, fileinfo
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer install

      - name: Execute lint tests with Laravel preset
        run: ./pint --test

      - name: Execute static analysis
        run: vendor/bin/phpstan
        if: matrix.php == '8.1'

      - name: Execute unit/feature tests
        run: vendor/bin/pest
