name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: [8.0, 8.1]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer install

      - name: Execute lint with PSR 12 preset
        run: ./pint

      - name: Execute lint with Laravel preset
        run: ./pint --preset=laravel

      - name: Execute static analysis
        run: vendor/bin/phpstan
        if: matrix.php == '8.1'

      - name: Execute unit/feature tests
        run: vendor/bin/pest
